In [1]:
import time, numpy as np, pandas as pd, recordlinkage
static_file_path="SM_Temp_Shortlist.xlsx"
site_master_df=pd.read_excel(static_file_path,index_col=0)
site_master_df.replace(np.nan, '',inplace=True)
for c in site_master_df.columns.values:
    site_master_df[c]=site_master_df[c].astype(str)
site_master_df['CONCAT_SRC_FIELDS']=site_master_df['SITE_NAME'] + site_master_df['STATE'] + \
              site_master_df['CITY'] + site_master_df['ADDRESS_LINE_1'] + site_master_df['ADDRESS_LINE_2'] + \
              site_master_df['ADDRESS_LINE_3'] + site_master_df['POSTAL_CODE']

print('\nColumn Names are: ', site_master_df.columns.values,'\n')
countries=site_master_df['COUNTRY'].unique()
print('\n',countries)

Column Names are:  ['SOURCE_IDENTIFIER' 'DATA_SOURCE_NAME' 'PROTOCOL_NUMBER' 'SITE_NUM'
 'UNIQUE_SITE_ID' 'COUNTRY' 'SITE_NAME' 'STATE' 'CITY' 'ADDRESS_LINE_1'
 'ADDRESS_LINE_2' 'ADDRESS_LINE_3' 'POSTAL_CODE' 'SITE_STATUS'
 'CONCAT_SRC_FIELDS']


 ['Italy']

### Initialize the country-level master dataset with first row of country-level excel file

In [30]:
master_data_single_country=site_master_df.head(1)
site_master_df=site_master_df.drop(index=master_data_single_country.index)
master_data_single_country

,SOURCE_IDENTIFIER,DATA_SOURCE_NAME,PROTOCOL_NUMBER,SITE_NUM,UNIQUE_SITE_ID,COUNTRY,SITE_NAME,STATE,CITY,ADDRESS_LINE_1,ADDRESS_LINE_2,ADDRESS_LINE_3,POSTAL_CODE,SITE_STATUS,CONCAT_SRC_FIELDS
SR_NUM,,,,,,,,,,,,,,,
1,CDM,ICON,C16007,28001,,Italy,Cardiology - Amyloidosis Research & Treatment ...,,Pavia,Viale Golgi 19,,,27100.0,ACTIVE,Cardiology - Amyloidosis Research & Treatment ...