## 1. Initialization

> a. Read the excel/csv containing the entire query-output

> b. Initialize the parameters of thresholds, directories, and fields to concat for generating individual as well as combined match-score

> c. Get the unique list of countries in present dataframe

In [1]:
import time, numpy as np, pandas as pd, recordlinkage, re, string

_STATIC_FILE_NAME="SM_Temp_Shortlist.xlsx"
_RAW_SCORES_DIRECTORY='Raw_Scores'
_CLEANED_SCORES_DIRECTORY='Cleaned_Scores'
_MASTER_DATA_DIRECTORY='Master_Data'
_FIELDS_TO_CONCAT={
    'CONCAT_ADDRESS':   ['ADDRESS_LINE_1','ADDRESS_LINE_2','ADDRESS_LINE_3']#, 'CONCAT_SRC':       ['SITE_NAME','STATE','CITY','CONCAT_ADDRESS','POSTAL_CODE']
                }

_COLUMNS_TO_CLEAN=['ADDRESS_LINE_1','ADDRESS_LINE_2','ADDRESS_LINE_3','SITE_NAME','STATE','CITY','POSTAL_CODE']
_THRESHOLD_FOR_INDIVIDUAL=0.85
#_THRESHOLD_FOR_ENTIRE_COMBINED=0.55
_THRESHOLD_FOR_ADDRESS_COMBINED=0.75

_THRESHOLDS_DICT={
    'CONCAT_ADDRESS': _THRESHOLD_FOR_ADDRESS_COMBINED,
    #'CONCAT_SRC': _THRESHOLD_FOR_ENTIRE_COMBINED, 
    'SITE_NAME': _THRESHOLD_FOR_INDIVIDUAL,
    'STATE': _THRESHOLD_FOR_INDIVIDUAL,
    'CITY': _THRESHOLD_FOR_INDIVIDUAL,
    'POSTAL_CODE': _THRESHOLD_FOR_INDIVIDUAL
    }
_COLS_FOR_TOTAL_MATCH_CALC=[colname+'_COMPARISON_SCORE' for colname in _THRESHOLDS_DICT]

_SCALING_FACTOR=3

_TOTAL_MATCHES_THRESHOLD=3


def write_df_to_csv(df, root_dir='', curr_country='', file_suffix='_temp.csv', index_flag=False):
    try:
        abs_path=os.path.join(root_dir, curr_country+file_suffix)
        df.to_csv(abs_path, index=index_flag)
        print(f'\nSuccessfully created \{abs_path}!')
    except:
        print(f'\nSomething went wrong while writing the file. Please check if it is currently in use.')


def preprocess_dataframe(df):
    df.replace(np.nan, '', inplace=True)
    for colname in df.columns.values:
        df[colname]=df[colname].astype(str).apply(lambda x: x.strip())


def clean_dataframe(df, replace_punctuations=True):
    if replace_punctuations:
        special_chars=re.escape(string.punctuation)
        print('\nSpecial Character that will be replaced are:  ', special_chars) #!"\\#\\$%\\&\'\\(\\)\\*\\+,\\-\\./:;<=>\\?@\\[\\\\\\]\\{\\|\\}\\~
    for colname in df.columns.values:
        if colname in _COLUMNS_TO_CLEAN and replace_punctuations:
            df[colname]=df[colname].replace(r'['+special_chars+']', '', regex=True).str.lower()
    for colname, cols_to_concat in _FIELDS_TO_CONCAT.items():
        df[colname]=df[cols_to_concat].apply(lambda single_row: ''.join(single_row.values), axis=1)
    df.drop(labels=_FIELDS_TO_CONCAT['CONCAT_ADDRESS'], axis=1, inplace=True)


def scale_up_comparison_score(df, colname='SITE_NAME_COMPARISON_SCORE', scaling_factor=_SCALING_FACTOR):
    print(f'\nScaling up {colname} by {scaling_factor}')
    df[colname]=df[colname].apply(lambda x: x*scaling_factor)

def replace_cyclic_dependencies(df, child_indicator, master_indicator):
    arr=set(df[child_indicator].array)
    for val in df[master_indicator]:
        if val in arr:
            replace_val=df[df[child_indicator]==val][master_indicator].values[0]
            print(val,' found in normalized_duplicates[',child_indicator,']. Replacement: ', replace_val)
            df[master_indicator].replace(val, replace_val, inplace=True)
    return df
    
def return_top_match(df, child_column, score_key_column):
    normalized_duplicates=df.sort_values(by=[child_column]).sort_values(by=[score_key_column],ascending=False)
    normalized_duplicates=normalized_duplicates.groupby(child_column).head(1).sort_values(by=[child_column])
    return normalized_duplicates


site_master_df=pd.read_excel(_STATIC_FILE_NAME, index_col=0)
print('\nColumns: ', site_master_df.columns.values,'\n')
countries=site_master_df['COUNTRY'].unique()
print('\nUnique Countries: ',countries)

Columns:  ['SOURCE_IDENTIFIER' 'DATA_SOURCE_NAME' 'PROTOCOL_NUMBER' 'SITE_NUM'
 'UNIQUE_SITE_ID' 'COUNTRY' 'SITE_NAME' 'STATE' 'CITY' 'ADDRESS_LINE_1'
 'ADDRESS_LINE_2' 'ADDRESS_LINE_3' 'POSTAL_CODE' 'SITE_STATUS']


Unique Countries:  ['Italy']

## 2. Process data in batches: getting scores of all the candidate-pairs is highly computation intensive. RAM crashes for incoming batch-size>4000
> a. Partition the entire input dataset based on country-name. For-loop to do the entire process for all countries.

> b. Create a concatenated (address) field and drop the individual 3 address fields

> c. Create a concatenated (name, address) field

In [2]:
# todo: Research on multithreading to speed up country-wise batches. RAM might crash for incoming batch-size>4000.

i=0
curr_country=countries[i]
country_df=site_master_df[site_master_df['COUNTRY']==curr_country]
preprocess_dataframe(country_df)
clean_dataframe(country_df)
write_df_to_csv(df=country_df, curr_country=curr_country, file_suffix='_country_df.csv', index_flag=True)

# todo: Imputation of address values where Site-name is exactly the same, otherwise it'll result in 2 separate master-records

print(f'\n{curr_country} has {country_df.shape[0]} records')

Special Character that will be replaced are:   !"\#\$%\&'\(\)\*\+,\-\./:;<=>\?@\[\\\]\^_`\{\|\}\~

Successfully created \Italy_country_df.csv!

Italy has 1371 records

Number of candidate-pairs for match consideration= 939135

## 3. Initialize the candidate-pairs for comparison via the Index() object, and a Comparer() object with set of fields to compare amongst the candidate pairs

### Currently configured to run this match-score generation in R, such that:

> if individual fields' match-score > 85% , then set the *_col_*_COMPARISON_SCORE column to 1, else 0

> if combined address-fields' match-score > 75% , then set the CONCAT_ADDRESS_COMPARISON_SCORE column to 1, else 0

### Comparer algorithm can be: 'jaro', 'jarowinkler', 'levenshtein', 'damerau_levenshtein', 'qgram', 'cosine', 'smith_waterman', 'lcs'

### You can also set n_job=-1 to use up all cores available for parallel-computation of scores for the candidate-pairs.

In [10]:
# todo: check if non-latin scripts can be handled. It seems to be able to handle UTF-8 encoding data
# todo: invoke the R-code from Python
"""
def add_field_to_compare(comparer_obj, field_name, threshold, method='levenshtein'):
    comparer_obj.string( field_name, field_name, method=method, threshold=threshold, label=field_name+'_COMPARISON_SCORE' )


indexer=recordlinkage.Index()
indexer.block(left_on='COUNTRY')
candidates=indexer.index(country_df)
print('\nNumber of candidate-pairs for match consideration=',len(candidates))

# todo: Read source code to figure out how is number of pairs reduced? Possibly uses only unique combinations rather than permutations

comparer=recordlinkage.Compare(n_jobs=-1)

for column, threshold in _THRESHOLDS_DICT.items():
    add_field_to_compare(comparer, column, threshold)

print('Comparer created with individual-fields\' threshold=', _THRESHOLD_FOR_INDIVIDUAL, ' , combined-address-field threshold=', _THRESHOLD_FOR_ADDRESS_COMBINED, ' , and combined-entire-field threshold=', _THRESHOLD_FOR_ENTIRE_COMBINED)

start=time.time()
print('\n\n Starting computation for match-scores... \n')
score_features=comparer.compute(candidates, country_df)
print(time.time()-start,' seconds needed for ',country_df.shape[0],' records.')
print('\n\nScore_features generated: ', score_features.shape)
"""

"\ndef add_field_to_compare(comparer_obj, field_name, threshold, method='levenshtein'):\n    comparer_obj.string( field_name, field_name, method=method, threshold=threshold, label=field_name+'_COMPARISON_SCORE' )\n\ncomparer=recordlinkage.Compare(n_jobs=-1)\n\nfor column, threshold in _THRESHOLDS_DICT.items():\n    add_field_to_compare(comparer, column, threshold)\n\nprint('Comparer created with individual-fields' threshold=', _THRESHOLD_FOR_INDIVIDUAL, ' , combined-address-field threshold=', _THRESHOLD_FOR_ADDRESS_COMBINED, ' , and combined-entire-field threshold=', _THRESHOLD_FOR_ENTIRE_COMBINED)\n\nstart=time.time()\nprint('\n\n Starting computation for match-scores... \n')\nscore_features=comparer.compute(candidates, country_df)\nprint(time.time()-start,' seconds needed for ',country_df.shape[0],' records.')\nprint('\n\nScore_features generated: ', score_features.shape)\n"

## 4. Get the set of potential duplicates where TOTAL_SCORE > THRESHOLD

### Currently configured to perform this in R itself.

> R code will finally generate the *Country*_Score_Features.csv in the /Raw_Scores/ directory

In [ ]:
"""
scale_up_comparison_score(score_features,'CONCAT_ADDRESS_COMPARISON_SCORE', _SCALING_FACTOR)

write_df_to_csv(df=score_features, root_dir=_RAW_SCORES_DIRECTORY, curr_country=curr_country, file_suffix='_Raw_Scores.csv', index_flag=True)

duplicates=score_features[score_features.sum(axis=1) > _TOTAL_MATCHES_THRESHOLD].reset_index()
duplicates['NUM_OF_MATCHES_FOUND']=duplicates[_COLS_FOR_TOTAL_MATCH_CALC].sum(axis=1)
"""
duplicates=pd.read_csv(os.path.join(_RAW_SCORES_DIRECTORY, curr_country+'_Score_Features.csv'))
duplicates.head(30)

## 5. Choose the best match for incoming child records based on highest total-score

In [4]:
normalized_duplicates=return_top_match(df=duplicates, child_column='SR_NUM_1', score_key_column='NUM_OF_MATCHES_FOUND')
normalized_duplicates.head(30)

,SR_NUM_1,SR_NUM_2,SITE_NAME_COMPARISON_SCORE,STATE_COMPARISON_SCORE,CITY_COMPARISON_SCORE,POSTAL_CODE_COMPARISON_SCORE,CONCAT_ADDRESS_COMPARISON_SCORE,NUM_OF_MATCHES_FOUND
0,6,1,0,0,1,1,3,5
10,10,4,1,1,1,1,3,7
60,13,12,0,0,0,1,3,4
65,16,15,0,0,1,1,3,5
70,17,16,0,0,1,1,3,5
86,20,19,0,0,0,1,3,4
1,22,1,1,0,1,1,3,6
108,26,25,0,1,1,1,3,6
109,37,25,0,0,1,1,3,5
188,38,37,0,0,1,1,3,5
71,39,16,1,0,1,1,3,6
72,40,16,1,0,1,1,3,6
130,41,29,0,0,1,1,3,5
206,49,48,0,0,1,1,3,5
30,50,6,0,0,1,1,3,5
134,51,31,1,1,1,1,3,7
155,60,33,0,0,1,1,3,5
189,62,37,0,0,1,1,3,5
73,63,16,1,0,1,1,3,6
93,66,20,0,0,1,1,3,5
198,67,45,0,0,1,1,3,5
199,68,45,1,0,1,1,3,6
207,69,48,0,0,1,1,3,5
233,70,50,0,0,1,1,3,5
330,75,73,1,1,1,1,0,4
241,77,53,1,1,1,1,0,4
38,87,7,0,0,1,1,3,5
40,88,8,0,0,1,1,3,5
221,91,49,0,0,0,1,3,4
135,93,32,0,1,1,1,3,6

## 5. Reusable function to replace the cyclic matches
### For example:

>   Record45 matches with Record44

>   Record67 matches with Record45

### In this case we should maintain:
>   Record67 matches with Record44

In [5]:
normalized_duplicates=replace_cyclic_dependencies(df=normalized_duplicates, child_indicator='SR_NUM_1', master_indicator='SR_NUM_2')
normalized_duplicates

rmalized_duplicates[ SR_NUM_1 ]. Replacement:  85
163  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
197  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
121  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
214  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  35
245  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
111  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
232  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
233  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
282  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  71
266  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
284  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
259  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
77  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  53
297  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
286  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  150
238  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  120
314  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  150
269  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
264  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
208  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
289  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
324  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
313  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  253
305  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  136
334  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
387  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
241  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
323  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
395  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  148
406  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
265  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
404  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  400
407  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  346
369  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  136
370  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
304  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  53
399  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  341
410  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
303  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
236  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  124
242  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  155
125  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  35
343  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
357  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
412  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
366  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  253
438  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  155
431  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  341
278  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
376  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  155
384  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  154
455  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  341
240  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  35
367  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
397  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
460  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  154
485  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  483
442  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  425
104  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
174  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  45
490  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
491  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
435  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
507  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
489  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  425
504  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  450
409  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
396  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
445  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  169
432  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
449  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  353
420  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
498  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
526  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
512  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  450
540  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  419
553  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  525
447  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  253
476  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
517  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  497
434  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
437  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  124
499  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
347  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  19
534  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
518  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
263  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
548  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  464
479  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
312  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
330  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
573  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  536
350  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  260
610  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
577  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  525
441  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
458  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
580  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
354  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  279
551  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  419
627  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  436
595  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  306
466  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  368
522  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  169
319  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  150
481  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
487  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
415  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  400
663  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
640  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  279
637  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
257  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
661  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  368
664  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  150
554  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
617  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
698  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
673  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
586  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
654  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
716  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
338  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
620  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  596
427  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  136
560  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  253
574  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
576  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  124
737  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
678  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
757  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  124
632  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  529
758  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  500
331  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
612  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  493
666  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
631  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  528
509  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  503
494  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  205
742  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
593  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  464
802  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  419
766  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  535
584  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
808  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  529
700  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
736  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  596
724  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
634  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
818  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  400
537  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
801  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
732  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
835  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
516  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
533  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  353
781  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  235
850  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  353
674  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  400
623  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  569
824  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  405
639  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
782  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  484
809  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  528
789  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  124
888  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  528
492  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  45
761  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
884  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
511  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  425
672  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
709  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
616  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  260
846  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  381
908  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
837  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  564
777  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
697  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
609  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
428  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
866  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  849
461  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
907  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
686  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
854  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  169
946  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
608  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
918  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
472  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
630  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  123
292  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
875  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
882  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  124
935  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
728  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
505  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
941  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  804
662  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  169
743  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  253
402  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  148
546  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  332
645  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
285  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  71
949  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
1004  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
721  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
906  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  400
869  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
805  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
894  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
939  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
819  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  419
909  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
786  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
598  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
659  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  515
722  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  155
748  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  545
898  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
927  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
980  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
459  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  155
335  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  207
1039  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
1057  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  493
643  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
1019  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
931  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
933  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
302  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  231
1070  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  252
539  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
206  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  114
1042  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  725
603  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
970  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  235
779  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  279
735  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
1060  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  207
344  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  279
973  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  148
971  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  123
701  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
690  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  675
744  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  514
1098  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  32
502  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  332
1052  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
1000  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  169
913  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  260
636  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
826  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
1011  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  148
550  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  547
1099  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  493
749  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
1024  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  237
1145  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  71
624  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  525
820  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
299  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  201
912  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  149
961  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  279
1112  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  279
250  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  124
1165  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  201
1166  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426
635  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  556
1171  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  529
1187  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  529
1189  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1050
680  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  154
1195  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1050
1138  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  332
583  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  19
273  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  235
256  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  57
660  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  306
796  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
196  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  154
1199  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  531
1150  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
1029  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
1241  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
848  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
1142  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
873  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  405
1221  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  306
1253  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1193
1269  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  536
1184  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  4
1196  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  154
791  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  85
705  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  467
1301  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1204
1279  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  536
1226  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  529
1246  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1201
1308  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  529
1073  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  426

,SR_NUM_1,SR_NUM_2,SITE_NAME_COMPARISON_SCORE,STATE_COMPARISON_SCORE,CITY_COMPARISON_SCORE,POSTAL_CODE_COMPARISON_SCORE,CONCAT_ADDRESS_COMPARISON_SCORE,NUM_OF_MATCHES_FOUND
0,6,1,0,0,1,1,3,5
10,10,4,1,1,1,1,3,7
60,13,12,0,0,0,1,3,4
65,16,15,0,0,1,1,3,5
70,17,15,0,0,1,1,3,5
...,...,...,...,...,...,...,...,...
4009,1315,1201,1,1,1,1,0,4
4019,1316,1286,1,1,1,1,3,7
4023,1317,529,1,1,1,1,3,7
2187,1320,514,0,0,1,1,3,5
3884,1321,426,1,0,1,1,3,6

## 6. CSV for static-analysis of matches

In [6]:
write_df_to_csv(df=normalized_duplicates, root_dir=_CLEANED_SCORES_DIRECTORY, curr_country=curr_country, file_suffix='_Cleaned_Feature_Scores.csv')
print('\n"SR_NUM_2" will be the master record')

Successfully created \Cleaned_Scores\Italy_Cleaned_Feature_Scores.csv!

"SR_NUM_2" will be the master record

## 7. Get the unique set of Master-Records and create a master CSV file for each country

> a. Think of 'SR_NUM_1' as the list of incoming Primary-keys, and 'SR_NUM_2' as the value to which it should be mapped based on match-score

> b. Hence, union of 'SR_NUM_1' & 'SR_NUM_2' will be entire set of duplicates

> c. Stand-alone records in the current country_batch_dataframe will not fall in this entire set of duplicates

> d. Master-records set wil be the sets of 'SR_NUM_2' & #c above.

In [7]:
a1=set(normalized_duplicates['SR_NUM_1'].values.tolist())
a2=set(normalized_duplicates['SR_NUM_2'].values.tolist())
country_set=set(country_df.index.values.tolist())
entire_duplicates_set=a1.union(a2)
no_match_set=country_set.difference(entire_duplicates_set)
master_record_ids=no_match_set.union(a2)



country_df_copy=site_master_df[site_master_df['COUNTRY']==curr_country]
preprocess_dataframe(df=country_df_copy)
clean_dataframe(df=country_df_copy, replace_punctuations=False)

print(f'{site_master_df.shape[0]} records get merged into {len(master_record_ids)}')
#country_master_df=country_df_copy.loc[master_record_ids].drop('CONCAT_SRC',axis=1)
country_master_df=country_df_copy.loc[master_record_ids]
write_df_to_csv(df=country_master_df, root_dir=_MASTER_DATA_DIRECTORY, curr_country=curr_country, index_flag=True, file_suffix='_Master.csv')

1371 records get merged into 579

Successfully created \Master_Data\Italy_Master.csv!

## 8. Get the normalized-duplicates into a CSV to show translation of incoming record into single golden record

> a. Create a master_cross_reference_df for the master_record_ids with relevant scores scaled up by _SCALING_FACTOR, and other comparison scores set to 1

> b. concat it with the normalized_duplicates dataframe

In [8]:
master_record_score_array=[1.0]*len(master_record_ids)
master_record_df_dict={'SR_NUM_1': list(master_record_ids), 'SR_NUM_2': list(master_record_ids), 'SITE_NAME_COMPARISON_SCORE': master_record_score_array, 'STATE_COMPARISON_SCORE': master_record_score_array, 'CITY_COMPARISON_SCORE': master_record_score_array, 'CONCAT_ADDRESS_COMPARISON_SCORE': master_record_score_array, 'POSTAL_CODE_COMPARISON_SCORE': master_record_score_array}

cross_ref_df=pd.DataFrame(master_record_df_dict)

scale_up_comparison_score(cross_ref_df,'CONCAT_ADDRESS_COMPARISON_SCORE',_SCALING_FACTOR)
cross_ref_df['NUM_OF_MATCHES_FOUND']=cross_ref_df[_COLS_FOR_TOTAL_MATCH_CALC].sum(axis=1)


cross_ref_df=cross_ref_df.append(normalized_duplicates)
cross_ref_df.sort_values(by=['SR_NUM_1'], axis=0, inplace=True)

write_df_to_csv(df=cross_ref_df, root_dir=_MASTER_DATA_DIRECTORY, curr_country=curr_country, file_suffix='_Raw_Cross_Ref.csv')

Scaling up CONCAT_ADDRESS_COMPARISON_SCORE by 3

Successfully created \Master_Data\Italy_Raw_Cross_Ref.csv!

## 9. Generate the report to display name & address fields of match-and-merge combinations

> a. Merge the master_cross_reference_df with the country_batch_dataframe as a left-outer-join on Primary-key='SR_NUM_1'

> b. Merge this master_cross_reference_df with the country_batch_dataframe as a left-outer-join on Primary-key='SR_NUM_2'

In [9]:
country_df_copy.reset_index(inplace=True)
country_df_colnames=country_df_copy.columns.values

country_df_copy.columns=[colname+'_1' for colname in country_df_colnames]
cross_ref_df=cross_ref_df.merge(country_df_copy, how='left', on='SR_NUM_1')

country_df_copy.columns=[colname+'_2' for colname in country_df_colnames]
cross_ref_df=cross_ref_df.merge(country_df_copy, how='left', on='SR_NUM_2')
cross_ref_df=cross_ref_df[['SR_NUM_1', 'SR_NUM_2', 'SITE_NAME_1','SITE_NAME_2','SITE_NAME_COMPARISON_SCORE','STATE_1','STATE_2','STATE_COMPARISON_SCORE', 'CITY_1','CITY_2','CITY_COMPARISON_SCORE','CONCAT_ADDRESS_1','CONCAT_ADDRESS_2','CONCAT_ADDRESS_COMPARISON_SCORE', 'POSTAL_CODE_1','POSTAL_CODE_2','POSTAL_CODE_COMPARISON_SCORE','NUM_OF_MATCHES_FOUND']]

write_df_to_csv(df=cross_ref_df, root_dir=_MASTER_DATA_DIRECTORY, curr_country=curr_country, file_suffix='_Cross_Ref_Full_Report.csv')

Successfully created \Master_Data\Italy_Cross_Ref_Full_Report.csv!