## 1. Initialization

> a. Read the excel/csv containing the entire query-output

> b. Initialize the parameters of thresholds, directories, and fields to concat for generating individual as well as combined match-score

> c. Get the unique list of countries in present dataframe

In [1]:
import time, numpy as np, pandas as pd, recordlinkage

_STATIC_FILE_NAME="SM_Temp_Shortlist.xlsx"
_RAW_SCORES_DIRECTORY='Raw_Scores'
_CLEANED_SCORES_DIRECTORY='Cleaned_Scores'
_MASTER_DATA_DIRECTORY='Master_Data'
_FIELDS_TO_CONCAT={ 
    'CONCAT_ADDRESS':   ['ADDRESS_LINE_1','ADDRESS_LINE_2','ADDRESS_LINE_3'],
    'CONCAT_SRC':       ['SITE_NAME','STATE','CITY','CONCAT_ADDRESS','POSTAL_CODE']
                }
_THRESHOLD_FOR_INDIVIDUAL=0.85
_THRESHOLD_FOR_COMBINED=0.55
_SCALING_FACTOR=3

_TOTAL_MATCHES_THRESHOLD=2


def write_df_to_csv(df, root_dir='', curr_country='', file_suffix='_temp.csv', index_flag=False):
    try:
        abs_path=os.path.join(root_dir, curr_country+file_suffix)
        df.to_csv(abs_path, index=index_flag)
        print(f'\nSuccessfully created \{abs_path}!')
    except:
        print(f'\nSomething went wrong while writing the file. Please check if it is currently in use.')

site_master_df=pd.read_excel(_STATIC_FILE_NAME, index_col=0)
#site_master_df.replace(np.nan, '', inplace=True)
for c in site_master_df.columns.values:
    site_master_df[c]=site_master_df[c].astype(str)


print('\nColumns: ', site_master_df.columns.values,'\n')
countries=site_master_df['COUNTRY'].unique()
print('\nUnique Countries: ',countries)

Columns:  ['SOURCE_IDENTIFIER' 'DATA_SOURCE_NAME' 'PROTOCOL_NUMBER' 'SITE_NUM'
 'UNIQUE_SITE_ID' 'COUNTRY' 'SITE_NAME' 'STATE' 'CITY' 'ADDRESS_LINE_1'
 'ADDRESS_LINE_2' 'ADDRESS_LINE_3' 'POSTAL_CODE' 'SITE_STATUS']


Unique Countries:  ['Italy']

## 2. Process data in batches: generating all the candidate-pairs with this library consumes very high RAM
> a. Partition the entire input dataset based on country-name. For-loop to do the entire process for all countries.

> b. Create a concatenated (address) field and drop the individual 3 address fields

> c. Create a concatenated (name, address) field

> c. Initialize the candidate-pairs (indexes) for comparison

In [2]:
# todo: Research on multithreading to speed up country-wise batches. RAM might crash for incoming batch-size>1800.

i=0
curr_country=countries[i]
country_df=site_master_df[site_master_df['COUNTRY']==curr_country]

for colname, cols_to_concat in _FIELDS_TO_CONCAT.items():
    country_df[colname]=country_df[cols_to_concat].apply(lambda single_row: ' '.join(single_row.values), axis=1)

country_df.drop(labels=_FIELDS_TO_CONCAT['CONCAT_ADDRESS'], axis=1, inplace=True)

# todo: Imputation of address values where Site-name is exactly the same, otherwise it'll result in 2 separate master-records

print(f'{curr_country} has {country_df.shape[0]} records')
indexer=recordlinkage.Index()
indexer.block(left_on='COUNTRY')
candidates=indexer.index(country_df)
print('Number of pairs for match consideration=',len(candidates))

# todo: Read source code to figure out how is number of pairs reduced? Possibly uses only unique combinations rather than permutations

Italy has 1371 records
Number of pairs for match consideration= 939135

## 3. Initialize Comparer() object with set of fields to compare amongst the candidate pairs

### Currently configured such that: 

> if individual fields' match-score > 85% , then set the *_col_*_COMPARISON_SCORE column to 1, else 0

> if combined fields' match-score > 55% , then set the CONCAT_SRC_COMPARISON_SCORE column to 1, else 0

### Comparer algorithm can be: 'jaro', 'jarowinkler', 'levenshtein', 'damerau_levenshtein', 'qgram', 'cosine', 'smith_waterman', 'lcs'

### You can also set n_job=-1 to use up all cores available for parallel-computation of scores for the candidate-pairs.

In [3]:
# todo: check if non-latin scripts can be handled. It seems to be able to handle UTF-8 encoding data
def add_field_to_compare(comparer_obj, field_name, threshold, method='levenshtein'):
    comparer_obj.string( field_name, field_name, method=method, threshold=threshold, label=field_name+'_COMPARISON_SCORE' )

comparer=recordlinkage.Compare(n_jobs=-1)
add_field_to_compare(comparer, 'CONCAT_SRC', _THRESHOLD_FOR_COMBINED)

for column in _FIELDS_TO_CONCAT['CONCAT_SRC']:
    add_field_to_compare(comparer, column, _THRESHOLD_FOR_INDIVIDUAL)

print('Comparer created with individual-fields\' threshold=',_THRESHOLD_FOR_INDIVIDUAL, ' and combined-field threshold=',_THRESHOLD_FOR_COMBINED)

print('\n\n Starting computation for match-scores... \n')
start=time.time()
score_features=comparer.compute(candidates, country_df)
print(time.time()-start,' seconds needed for ',country_df.shape[0],' records.')
print('\n\nScore_features generated: ', score_features.shape)

Comparer created with individual-fields' threshold= 0.85  and combined-field threshold= 0.55


 Starting computation for match-scores...

3780.1232018470764  seconds needed for  1371  records.


Score_features generated:  (939135, 6)

## 4. Get the set of potential duplicates where TOTAL_SCORE > THRESHOLD

In [4]:
_COLS_FOR_TOTAL_MATCH_CALC=[colname+'_COMPARISON_SCORE' for colname in _FIELDS_TO_CONCAT['CONCAT_SRC']]
_COLS_FOR_TOTAL_MATCH_CALC.append('CONCAT_SRC'+'_COMPARISON_SCORE')

def scale_up_comparison_score(df, colname='SITE_NAME_COMPARISON_SCORE', scaling_factor=_SCALING_FACTOR):
    print(f'\nScaling up {colname} by {scaling_factor}')
    df[colname]=df[colname].apply(lambda x: x*scaling_factor)

scale_up_comparison_score(score_features,'SITE_NAME_COMPARISON_SCORE', _SCALING_FACTOR)
scale_up_comparison_score(score_features,'CONCAT_ADDRESS_COMPARISON_SCORE', _SCALING_FACTOR)

write_df_to_csv(df=score_features, root_dir=_RAW_SCORES_DIRECTORY, curr_country=curr_country, file_suffix='_Raw_Scores.csv', index_flag=True)

duplicates=score_features[score_features.sum(axis=1) > _TOTAL_MATCHES_THRESHOLD].reset_index()
duplicates['NUM_OF_MATCHES_FOUND']=duplicates[_COLS_FOR_TOTAL_MATCH_CALC].sum(axis=1)

duplicates.head(30)

Scaling up SITE_NAME_COMPARISON_SCORE by 3

Scaling up CONCAT_ADDRESS_COMPARISON_SCORE by 3

Successfully created \Raw_Scores\Italy_Raw_Scores.csv!

,SR_NUM_1,SR_NUM_2,CONCAT_SRC_COMPARISON_SCORE,SITE_NAME_COMPARISON_SCORE,STATE_COMPARISON_SCORE,CITY_COMPARISON_SCORE,CONCAT_ADDRESS_COMPARISON_SCORE,POSTAL_CODE_COMPARISON_SCORE,NUM_OF_MATCHES_FOUND
0,6,1,1.0,0.0,0.0,1.0,3.0,1.0,6.0
1,7,3,1.0,0.0,0.0,1.0,0.0,1.0,3.0
2,8,3,1.0,0.0,0.0,1.0,0.0,1.0,3.0
3,8,7,1.0,0.0,0.0,1.0,0.0,1.0,3.0
4,10,4,1.0,3.0,1.0,1.0,3.0,1.0,10.0
5,16,15,1.0,0.0,0.0,1.0,3.0,1.0,6.0
6,17,15,1.0,0.0,0.0,1.0,3.0,1.0,6.0
7,17,16,1.0,0.0,0.0,1.0,3.0,1.0,6.0
8,20,19,1.0,0.0,0.0,0.0,3.0,1.0,5.0
9,22,1,1.0,3.0,0.0,1.0,3.0,1.0,9.0
10,22,6,1.0,0.0,0.0,1.0,3.0,1.0,6.0
11,26,25,1.0,0.0,1.0,1.0,0.0,1.0,4.0
12,35,9,1.0,3.0,0.0,1.0,0.0,1.0,6.0
13,37,26,1.0,0.0,0.0,1.0,3.0,1.0,6.0
14,38,24,0.0,0.0,1.0,1.0,0.0,1.0,3.0
15,38,25,1.0,0.0,0.0,1.0,0.0,1.0,3.0
16,38,26,1.0,0.0,0.0,1.0,3.0,1.0,6.0
17,38,37,1.0,0.0,0.0,1.0,3.0,1.0,6.0
18,39,15,1.0,0.0,0.0,1.0,3.0,1.0,6.0
19,39,16,1.0,3.0,0.0,1.0,3.0,1.0,9.0
20,39,17,1.0,0.0,0.0,1.0,3.0,1.0,6.0
21,40,15,1.0,0.0,0.0,1.0,3.0,1.0,6.0
22,40,16,1.0,3.0,0.0,1.0,3.0,1.0,9.0
23,40,17,1.0,0.0,0.0,1.0,3.0,1.0,6.0
24,40,39,1.0,3.0,0.0,1.0,3.0,1.0,9.0
25,41,29,1.0,0.0,0.0,1.0,3.0,1.0,6.0
26,45,44,1.0,0.0,0.0,1.0,0.0,1.0,3.0
27,49,48,1.0,0.0,0.0,1.0,3.0,1.0,6.0
28,50,1,1.0,0.0,0.0,1.0,3.0,1.0,6.0
29,50,6,1.0,0.0,0.0,1.0,3.0,1.0,6.0

## 5. Choose the best match for incoming child records based on highest total-score

In [5]:
def return_top_match(df, child_column, score_key_column):
    normalized_duplicates=df.sort_values(by=[child_column]).sort_values(by=[score_key_column],ascending=False)
    normalized_duplicates=normalized_duplicates.groupby(child_column).head(1).sort_values(by=[child_column])
    return normalized_duplicates

normalized_duplicates=return_top_match(df=duplicates, child_column='SR_NUM_1', score_key_column='NUM_OF_MATCHES_FOUND')
normalized_duplicates.head(30)

,SR_NUM_1,SR_NUM_2,CONCAT_SRC_COMPARISON_SCORE,SITE_NAME_COMPARISON_SCORE,STATE_COMPARISON_SCORE,CITY_COMPARISON_SCORE,CONCAT_ADDRESS_COMPARISON_SCORE,POSTAL_CODE_COMPARISON_SCORE,NUM_OF_MATCHES_FOUND
0,6,1,1.0,0.0,0.0,1.0,3.0,1.0,6.0
1,7,3,1.0,0.0,0.0,1.0,0.0,1.0,3.0
2,8,3,1.0,0.0,0.0,1.0,0.0,1.0,3.0
4,10,4,1.0,3.0,1.0,1.0,3.0,1.0,10.0
5,16,15,1.0,0.0,0.0,1.0,3.0,1.0,6.0
7,17,16,1.0,0.0,0.0,1.0,3.0,1.0,6.0
8,20,19,1.0,0.0,0.0,0.0,3.0,1.0,5.0
9,22,1,1.0,3.0,0.0,1.0,3.0,1.0,9.0
11,26,25,1.0,0.0,1.0,1.0,0.0,1.0,4.0
12,35,9,1.0,3.0,0.0,1.0,0.0,1.0,6.0
13,37,26,1.0,0.0,0.0,1.0,3.0,1.0,6.0
16,38,26,1.0,0.0,0.0,1.0,3.0,1.0,6.0
19,39,16,1.0,3.0,0.0,1.0,3.0,1.0,9.0
22,40,16,1.0,3.0,0.0,1.0,3.0,1.0,9.0
25,41,29,1.0,0.0,0.0,1.0,3.0,1.0,6.0
26,45,44,1.0,0.0,0.0,1.0,0.0,1.0,3.0
27,49,48,1.0,0.0,0.0,1.0,3.0,1.0,6.0
29,50,6,1.0,0.0,0.0,1.0,3.0,1.0,6.0
31,51,31,1.0,3.0,1.0,1.0,3.0,1.0,10.0
33,60,33,1.0,0.0,0.0,1.0,3.0,1.0,6.0
34,61,5,1.0,0.0,0.0,1.0,0.0,1.0,3.0
36,62,25,1.0,0.0,0.0,1.0,3.0,1.0,6.0
40,63,39,1.0,3.0,0.0,1.0,3.0,1.0,9.0
42,65,18,1.0,0.0,0.0,0.0,3.0,0.0,4.0
44,66,20,1.0,0.0,0.0,1.0,3.0,1.0,6.0
45,67,45,0.0,0.0,0.0,1.0,3.0,1.0,5.0
47,68,45,1.0,3.0,0.0,1.0,3.0,1.0,9.0
49,69,48,1.0,0.0,0.0,1.0,3.0,1.0,6.0
51,70,1,1.0,0.0,0.0,1.0,3.0,1.0,6.0
57,74,69,0.0,0.0,0.0,0.0,3.0,0.0,3.0

## 5. Reusable function to replace the cyclic matches
### For example:

>   Record45 matches with Record44

>   Record67 matches with Record45

### In this case we should maintain:
>   Record67 matches with Record44

In [6]:
def replace_cyclic_dependencies(df, child_indicator, master_indicator):
    arr=set(df[child_indicator].array)
    for val in df[master_indicator]:
        if val in arr:
            replace_val=df[df[child_indicator]==val][master_indicator].values[0]
            print(val,' found in normalized_duplicates[',child_indicator,']. Replacement: ', replace_val)
            df[master_indicator].replace(val, replace_val, inplace=True)
    return df

normalized_duplicates=replace_cyclic_dependencies(df=normalized_duplicates, child_indicator='SR_NUM_1', master_indicator='SR_NUM_2')
normalized_duplicates

lized_duplicates[ SR_NUM_1 ]. Replacement:  76
415  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
461  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
640  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  72
637  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
204  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
661  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
675  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  18
462  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
465  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
664  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  340
648  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
665  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
698  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
683  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
673  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
711  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
285  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  71
654  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
663  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
628  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  567
620  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
672  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
560  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
697  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
574  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
645  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
624  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  525
509  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
535  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
412  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
576  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
500  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
568  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  471
737  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
756  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
524  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
678  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
757  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
613  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
662  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
666  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
484  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
728  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
758  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
616  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  515
769  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
700  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
767  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
784  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
780  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
779  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  72
681  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  72
771  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  463
503  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
494  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  205
742  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
539  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
806  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  72
584  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
632  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  463
633  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
736  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
789  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
821  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
818  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
481  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  31
537  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
801  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  785
495  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
735  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
505  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
781  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
74  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
850  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
522  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
674  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
508  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
647  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
588  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
778  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  520
623  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  207
706  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
470  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
845  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
824  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
680  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  154
867  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  31
639  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
782  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
809  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  528
852  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
510  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
583  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  19
895  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
901  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
709  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
765  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
716  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
542  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  514
854  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
839  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
557  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  450
783  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  419
475  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
859  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
837  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  57
777  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
853  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
893  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  44
866  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
820  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
619  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
927  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  31
531  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
907  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
686  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
946  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  31
608  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
908  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  31
733  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
799  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
759  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
630  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
603  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
402  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
403  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
875  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
653  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  154
882  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
935  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
869  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
677  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  601
725  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
755  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
959  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
975  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
941  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
827  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  54
641  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
857  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
562  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1004  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
274  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  237
721  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
906  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  327
886  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
974  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
830  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
939  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  56
909  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
598  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
659  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  515
722  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
748  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  515
991  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
898  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
1047  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
961  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  72
803  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  57
1057  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  57
643  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  363
793  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
1019  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
848  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
595  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
302  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  23
1070  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
720  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  712
326  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
792  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
1031  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
1080  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
851  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
383  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1048  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
1071  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  968
990  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
604  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  57
734  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  567
1060  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  207
1029  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
1093  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  72
1059  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
729  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  422
971  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
966  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
704  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1052  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
1000  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
905  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
913  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  515
1094  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
888  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  528
1075  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  23
594  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
826  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1116  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  9
1142  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
1043  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
649  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  57
1024  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  237
1145  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  71
577  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  525
299  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
745  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1018  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
800  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  536
1165  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1132  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  556
555  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  463
1187  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  463
1189  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  567
947  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1193  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  156
1194  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
1170  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
910  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  514
1202  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
761  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
1138  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1055  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1117  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
456  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  454
591  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  73
1205  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
445  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  53
1208  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
541  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  467
1185  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  514
1229  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  520
1214  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1199  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1232  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1230  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
1241  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1201  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
1153  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  95
1067  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
1224  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
636  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  33
1200  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  156
365  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1221  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
1206  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  544
1032  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  798
1034  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  590
1213  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1254  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1262  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  798
1176  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  536
1072  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  340
685  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
427  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
281  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1273  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
386  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1255  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
651  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
222  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
301  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
1250  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1240  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1278  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1301  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1204
1226  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  463
1249  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
1292  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1246  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  351
1286  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
1295  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
962  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1121  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  36
83  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
277  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1306  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1307  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
244  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1329  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  28
1330  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1325  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
311  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1311  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
246  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  48
433  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  115
1335  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1211  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  19
382  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
287  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
373  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1334  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1351  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1344  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
389  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
342  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
139  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  1
1356  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1294  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  91
1348  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
1345  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76
372  found in normalized_duplicates[ SR_NUM_1 ]. Replacement:  76

,SR_NUM_1,SR_NUM_2,CONCAT_SRC_COMPARISON_SCORE,SITE_NAME_COMPARISON_SCORE,STATE_COMPARISON_SCORE,CITY_COMPARISON_SCORE,CONCAT_ADDRESS_COMPARISON_SCORE,POSTAL_CODE_COMPARISON_SCORE,NUM_OF_MATCHES_FOUND
0,6,1,1.0,0.0,0.0,1.0,3.0,1.0,6.0
1,7,3,1.0,0.0,0.0,1.0,0.0,1.0,3.0
2,8,3,1.0,0.0,0.0,1.0,0.0,1.0,3.0
4,10,4,1.0,3.0,1.0,1.0,3.0,1.0,10.0
5,16,15,1.0,0.0,0.0,1.0,3.0,1.0,6.0
...,...,...,...,...,...,...,...,...,...
22967,1367,76,1.0,3.0,0.0,0.0,3.0,0.0,7.0
23041,1368,76,1.0,0.0,0.0,0.0,3.0,0.0,4.0
23235,1369,76,0.0,0.0,0.0,0.0,3.0,0.0,3.0
23477,1370,76,1.0,0.0,0.0,0.0,3.0,0.0,4.0
23584,1371,76,1.0,0.0,0.0,0.0,3.0,0.0,4.0

## 6. CSV for static-analysis of matches

In [7]:
write_df_to_csv(df=normalized_duplicates, root_dir=_CLEANED_SCORES_DIRECTORY, curr_country=curr_country, file_suffix='_Cleaned_Feature_Scores.csv')
print('\n"SR_NUM_2" will be the master record')

Successfully created \Cleaned_Scores\Italy_Cleaned_Feature_Scores.csv!

"SR_NUM_2" will be the master record

## 7. Get the unique set of Master-Records and create a master CSV file for each country

> a. Think of 'SR_NUM_1' as the list of incoming Primary-keys, and 'SR_NUM_2' as the value to which it should be mapped based on match-score

> b. Hence, union of 'SR_NUM_1' & 'SR_NUM_2' will be entire set of duplicates

> c. Stand-alone records in the current country_batch_dataframe will not fall in this entire set of duplicates

> d. Master-records set wil be the sets of 'SR_NUM_2' & #c above.

In [8]:
a1=set(normalized_duplicates['SR_NUM_1'].values.tolist())
a2=set(normalized_duplicates['SR_NUM_2'].values.tolist())
country_set=set(country_df.index.values.tolist())
entire_duplicates_set=a1.union(a2)
no_match_set=country_set.difference(entire_duplicates_set)
master_record_ids=no_match_set.union(a2)

print(f'{site_master_df.shape[0]} records get merged into {len(master_record_ids)}')
country_master_df=country_df.loc[master_record_ids].drop('CONCAT_SRC',axis=1)
write_df_to_csv(df=country_master_df, root_dir=_MASTER_DATA_DIRECTORY, curr_country=curr_country, index_flag=True, file_suffix='_Master.csv')

1371 records get merged into 192

Successfully created \Master_Data\Italy_Master.csv!

## 8. Get the normalized-duplicates into a CSV to show translation of incoming record into single golden record

> a. Create a master_cross_reference_df for the master_record_ids with relevant scores scaled up by _SCALING_FACTOR, and other comparison scores set to 1

> b. concat it with the normalized_duplicates dataframe

In [9]:
master_record_score_array=[1.0]*len(master_record_ids)
master_record_df_dict={'SR_NUM_1': list(master_record_ids), 'SR_NUM_2': list(master_record_ids), 'SITE_NAME_COMPARISON_SCORE': master_record_score_array, 'STATE_COMPARISON_SCORE': master_record_score_array, 'CITY_COMPARISON_SCORE': master_record_score_array, 'CONCAT_ADDRESS_COMPARISON_SCORE': master_record_score_array, 'POSTAL_CODE_COMPARISON_SCORE': master_record_score_array, 'CONCAT_SRC_COMPARISON_SCORE': master_record_score_array}

cross_ref_df=pd.DataFrame(master_record_df_dict)

scale_up_comparison_score(cross_ref_df,'SITE_NAME_COMPARISON_SCORE',_SCALING_FACTOR)
scale_up_comparison_score(cross_ref_df,'CONCAT_ADDRESS_COMPARISON_SCORE',_SCALING_FACTOR)
cross_ref_df['NUM_OF_MATCHES_FOUND']=cross_ref_df[_COLS_FOR_TOTAL_MATCH_CALC].sum(axis=1)


cross_ref_df=cross_ref_df.append(normalized_duplicates)
cross_ref_df.sort_values(by=['SR_NUM_1'], axis=0, inplace=True)

write_df_to_csv(df=cross_ref_df, root_dir=_MASTER_DATA_DIRECTORY, curr_country=curr_country, file_suffix='_Raw_Cross_Ref.csv')

Scaling up SITE_NAME_COMPARISON_SCORE by 3

Scaling up CONCAT_ADDRESS_COMPARISON_SCORE by 3

Successfully created \Master_Data\Italy_Raw_Cross_Ref.csv!

## 9. Generate the report to display name & address fields of match-and-merge combinations

> a. Merge the master_cross_reference_df with the country_batch_dataframe as a left-outer-join on Primary-key='SR_NUM_1'

> b. Merge this master_cross_reference_df with the country_batch_dataframe as a left-outer-join on Primary-key='SR_NUM_2'

In [10]:
country_df_copy=country_df[_FIELDS_TO_CONCAT['CONCAT_SRC']].copy(deep=True).reset_index()
country_df_colnames=country_df_copy.columns.values

country_df_copy.columns=[colname+'_1' for colname in country_df_colnames]
cross_ref_df=cross_ref_df.merge(country_df_copy, how='left', on='SR_NUM_1')

country_df_copy.columns=[colname+'_2' for colname in country_df_colnames]
cross_ref_df=cross_ref_df.merge(country_df_copy, how='left', on='SR_NUM_2')
cross_ref_df=cross_ref_df[['SR_NUM_1', 'SR_NUM_2', 'SITE_NAME_1','SITE_NAME_2','SITE_NAME_COMPARISON_SCORE','STATE_1','STATE_2','STATE_COMPARISON_SCORE', 'CITY_1','CITY_2','CITY_COMPARISON_SCORE','CONCAT_ADDRESS_1','CONCAT_ADDRESS_2','CONCAT_ADDRESS_COMPARISON_SCORE', 'POSTAL_CODE_1','POSTAL_CODE_2','POSTAL_CODE_COMPARISON_SCORE','NUM_OF_MATCHES_FOUND']]

write_df_to_csv(df=cross_ref_df, root_dir=_MASTER_DATA_DIRECTORY, curr_country=curr_country, file_suffix='_Cross_Ref_Full_Report.csv')

Successfully created \Master_Data\Italy_Cross_Ref_Full_Report.csv!